## Manhattan Car Crash Data 2022

### <i> dataset exploration, cleaning, & feature engineering </i>

Data source: https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95 <br>
Notebook by Alan Grunberg, https://github.com/alandavidgrunberg

<b><i>loading Pandas + original data into DataFrame</b></i>

In [1]:
import pandas as pd

In [2]:
df_orig = pd.read_csv("data/motor_vehicle_collisions_original.csv")

In [3]:
df = df_orig.copy()

In [4]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765.0,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547.0,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903.0,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314.0,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609.0,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199042 entries, 0 to 1199041
Data columns (total 29 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   CRASH DATE                     1199042 non-null  object
 1   CRASH TIME                     1199038 non-null  object
 2   BOROUGH                        776108 non-null   object
 3   ZIP CODE                       775897 non-null   float64
 4   LATITUDE                       1090977 non-null  float64
 5   LONGITUDE                      1090977 non-null  float64
 6   LOCATION                       1090977 non-null  object
 7   ON STREET NAME                 906899 non-null   object
 8   CROSS STREET NAME              599549 non-null   object
 9   OFF STREET NAME                284620 non-null   object
 10  NUMBER OF PERSONS INJURED      1199020 non-null  float64
 11  NUMBER OF PERSONS KILLED       1199007 non-null  float64
 12  NUMBER OF PEDESTRIANS INJURED  1199038 non-null  float64
 13  NUMBER OF PEDESTRIANS KILLED   1199038 non-null  float64
 14  NUMBER OF CYCLIST INJURED      1199038 non-null  float64
 15  NUMBER OF CYCLIST KILLED       1199038 non-null  float64
 16  NUMBER OF MOTORIST INJURED     1199038 non-null  float64
 17  NUMBER OF MOTORIST KILLED      1199038 non-null  float64
 18  CONTRIBUTING FACTOR VEHICLE 1  1194775 non-null  object
 19  CONTRIBUTING FACTOR VEHICLE 2  999670 non-null   object
 20  CONTRIBUTING FACTOR VEHICLE 3  87174 non-null    object
 21  CONTRIBUTING FACTOR VEHICLE 4  20135 non-null    object
 22  CONTRIBUTING FACTOR VEHICLE 5  5563 non-null     object
 23  COLLISION_ID                   1199037 non-null  float64
 24  VEHICLE TYPE CODE 1            1188754 non-null  object
 25  VEHICLE TYPE CODE 2            924721 non-null   object
 26  VEHICLE TYPE CODE 3            82248 non-null    object
 27  VEHICLE TYPE CODE 4            19066 non-null    object
 28  VEHICLE TYPE CODE 5            5315 non-null     object
dtypes: float64(12), object(17)
memory usage: 265.3+ MB

<b><i>removing unneeded columns </i></b>

In [6]:
df = df[['LATITUDE','LONGITUDE','NUMBER OF PEDESTRIANS INJURED','NUMBER OF PEDESTRIANS KILLED','CRASH DATE','CRASH TIME','BOROUGH']]

<b><i>dropping rows with missing values</i></b>

In [7]:
df = df.dropna()

<b><i>dropping rows without pedestrian casualties</i></b>

In [8]:
df = df[(df['NUMBER OF PEDESTRIANS INJURED'] != 0) | (df['NUMBER OF PEDESTRIANS KILLED'] != 0)]

<b><i>keeping only rows where crashes ocured in Manhattan</i></b>

In [9]:
df = df[df['BOROUGH']== 'MANHATTAN']

<b><i>converting crash date and time info to Pandas datetime objects</i></b>

In [10]:
df['CRASH TIME'] = df['CRASH TIME'].str.zfill(5)

In [11]:
df['CRASH DATE'] = df['CRASH DATE'].str.replace('/','')
df['CRASH TIME'] = df['CRASH TIME'].str.replace(':','')

In [12]:
df['date time'] = df['CRASH DATE'] + df['CRASH TIME']

In [13]:
df['CRASH DATETIME'] = pd.to_datetime(df['date time'], format='%m%d%Y%H%M')

In [14]:
df = df.drop(columns=['date time','CRASH DATE','CRASH TIME'])

<b><i>sorting rows by datetime</i></b>

In [15]:
df = df.sort_values(by=['CRASH DATETIME'])

<b><i>slicing off earlier rows to leave only crashes in 2022</i></b>

In [16]:
df = df[8600:]

In [17]:
df.head()

,LATITUDE,LONGITUDE,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,BOROUGH,CRASH DATETIME
61248,40.789055,-73.948610,1.0,0.0,MANHATTAN,2022-01-20 15:34:00
68990,40.713840,-73.992730,1.0,0.0,MANHATTAN,2022-01-21 13:56:00
61411,40.753370,-73.974655,1.0,0.0,MANHATTAN,2022-01-21 14:29:00
66248,40.792920,-73.945790,1.0,0.0,MANHATTAN,2022-01-22 18:00:00
67796,40.741970,-73.980865,1.0,0.0,MANHATTAN,2022-01-23 02:55:00

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 732 entries, 61248 to 948867
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   LATITUDE                       732 non-null    float64
 1   LONGITUDE                      732 non-null    float64
 2   NUMBER OF PEDESTRIANS INJURED  732 non-null    float64
 3   NUMBER OF PEDESTRIANS KILLED   732 non-null    float64
 4   BOROUGH                        732 non-null    object
 5   CRASH DATETIME                 732 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 40.0+ KB

In [19]:
df.to_csv("data/motor_vehicle_collisions_prepared.csv")